.page {
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  width: 100%;
  max-width: 1024px;
  max-height: 768px;
  margin: 0 auto;
  padding: 20px;
  color: var(--text-color, #f1b2ce);
  background-image: var(--bg-image);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top: none;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.rec {
  position: absolute;
  top: 20px;
  right: 29px;
  display: flex;
  align-items: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: var(--accent-color, #ff0070);
}

.rec::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.theme-light .rec {
  display: none;
}

.header__theme-menu {
  grid-column: 2 / 3;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color, #ff0070);
  background: transparent;
  border: none;
  padding: 2px 13px;
  cursor: pointer;
  transition: outline 0.3s ease;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color, #ff0070);
  pointer-events: none;
}

.header__content {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(768px - 40px);
  margin: 0;
  padding: 0;
  position: relative;
}

.header__title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 157px;
  line-height: 82.5%;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0 var(--shadow--color);
  margin: auto 0;
  text-align: left;
  position: relative;
  margin-left: -20px;
  bottom: -80px;
}

.header__text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitle-color);
  max-width: 491px;
  align-self: flex-end;
  margin-bottom: 134px;
  margin-right: 2px;
  font-weight: 700;
}

.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--background-color);
  padding-top: 60px;
}

.main__section {
  display: grid;
  grid-template-columns: 325px 650px;
  gap: var(--gap);
  margin-bottom: 35px;
}

.main__section:nth-child(1) {
  margin-bottom: 40px;
}

.main__section:nth-child(2) {
  display: block;
  margin-bottom: 40px;
}

.main__title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
  margin-left: 20px;
  align-self: start;
}

.main__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-self: start;
  justify-self: end;
  width: 650px;
}

.main__subtitle {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitle-color);
  margin-bottom: 9px;
  margin-left: 10px;
  width: 649px;
}

.main__section:nth-child(2) .main__subtitle {
  width: 315px;
}

.main-content__subtitle {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--subtitle-color);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  width: 649px;
}

.main__text {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 1px;
  width: 649px;
}

.main__section:nth-child(2) .main__text {
  width: 315px;
}

.content__link {
  color: var(--text-color, rgba(241, 178, 206, 1));
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow--color);
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus {
  outline: 1px var(--text-colorr);
}

.main__intro {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  color: var(--background-color);
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 20px;
}

.main__list {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 20px;
}

.main__list-item {
  margin-bottom: 23px;
}

.main__list-item:last-child {
  margin-bottom: 0;
}

.main__list-item:nth-child(3) {
  margin-top: -5px;
}

.main__list-item:nth-child(4) {
  margin-top: 10px;
}

.main__list-item:nth-child(5) {
  margin-top: -5px;
}

.main__section-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.main__content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
  list-style: none;
  padding: 0 15px 20px 0;
  margin-left: 10px;
}

.main__paragraf {
  font-size: 18px;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 10px;
}

.main__content-list-item {
  display: flex;
  flex-direction: column;
}

.gallery {
  margin-top: 41px;
  padding-bottom: 40px;
}

.gallery__title {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  width: 984px;
  margin-left: 20px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}

.gallery__item {
  box-sizing: border-box;
  min-block-size: 4.3em;
  margin: 0;
}

.gallery__content {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-right: 25px;
  margin-left: 20px;
  gap: 20px;
}

.books {
  grid-column: 2;
  grid-row: 2;
  height: 315px;
  width: 315px;
  padding-right: 3px;
}

.street {
  grid-column: 2 / span 2;
  grid-row: 3;
  height: 433px;
  width: 649px;
  padding-right: 3px;
}

.tape {
  grid-column: 1;
  grid-row: 2 / span 3;
  height: 768px;
  width: 320px;
  padding-right: 3px;
}

.ice-cream {
  grid-row: 1 / span 2;
  grid-column: 3;
  height: 595px;
  width: 314px;
  padding-right: 3px;
}

.sunset {
  grid-column: span 2;
  grid-row: 1;
  height: 260px;
  width: 650px;
  padding-right: 3px;
}

.footer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: var(--padding, 20px);
  background-color: var(--background-color);
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-family: "IBM Plex Mono", monospace;
  font-size: 157px;
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow--color);
  text-align: center;
  margin: 0;
}

.footer__decorated-zone {
  position: relative;
}

.footer__decorated-zone::before,
.footer__decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color, #ff0070);
}

.footer__decorated-zone::before {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top: none;
}

.footer__decorated-zone::after {
  top: 20px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--subtitle-color);
  font-weight: 700;
}

@media (width <= 376px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 375px;
    max-height: 6770px;
  }
  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    width: 100%;
    max-width: 375px;
    max-height: 688px;
  }
  .header__title {
    font-size: 116px;
    line-height: 83%;
    letter-spacing: 0;
    margin-top: -6px;
    margin-left: -10px;
    padding-bottom: 0;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
    margin-right: -9px;
  }
  .header__theme-menu {
    grid-column: 3 / 3;
    padding-top: 55px;
  }
  .decorated-zone::before {
    bottom: 31px;
    left: 11px;
  }
  .decorated-zone::after {
    top: 11px;
    right: 11px;
  }
  .header__text {
    width: 355px;
    margin-bottom: 290px;
    position: relative;
    left: 10px;
  }
  .main {
    padding-top: 20px;
    flex: 1;
  }
  .main__section {
    display: flex;
    flex-direction: column;
    width: 355px;
  }
  .main__section:first-child {
    margin-left: 10px;
  }

  .main__section:nth-child(2) {
    margin-top: -30px;
  }
  .main__section:nth-child(3) {
    margin-top: -25px;
  }
  .main__content {
    width: 355px;
  }
  .main__text {
    width: 355px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    line-height: 23.4px;
  }
  .main__subtitle {
    position: relative;
    left: 0;
    width: 355px;
    margin-left: 0;
  }
  .main__content-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .main__list-item {
    margin-bottom: 24px;
  }
  .main__content-list-item {
    margin-top: -3px;
    width: 375px;
    margin: 0;
    padding: 0;
  }
  .gallery__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-left:0;
    margin-right:0;
  }
  .tape {
    height: 237px;
    width: 355px;
    margin-top: 10px;
    margin-left: 10px;
    order: 3;
    padding-right: 0;
  }
  .books {
    height: 355px;
    width: 355px;
    margin-top: 10px;
    margin-left: 10px;
    order: 4;
    padding-right: 0;
  }
  .street {
    height: 237px;
    width: 363px;
    margin-top: 10px;
    margin-left: 10px;
    order: 5;
    padding-right: 8px;
  }
  .ice-cream {
    height: 355px;
    width: 365px;
    margin-top: 10px;
    margin-left: 10px;
    order: 2;
    padding-right: 10px;
  }
  .sunset {
    height: 142px;
    width: 355px;
    margin-top: 10px;
    margin-left: 10px;
    order: 1;
    padding-right: 0;
  }
  .main__title {
    margin-left: 0;
  }
  .main__section:nth-child(2) .main__title {
    margin-left: 10px;
  }
  .main__section:nth-child(3) .main__title {
    margin-left: 10px;
    width: 355px;
    margin-top: -2px;
  }
  .gallery__title {
    width: 355px;
    margin: 0 0 0 5px;
    padding: 0;
    position: relative;
    left: 5px;
  }
  .main__section:nth-child(3) .main__subtitle {
    margin-left: 10px;
    width: 355px;
    margin-top: 0;
  }
  .main-content__subtitle {
    margin-top: 8px;
    width: 355px;
  }
  .main-content__subtitle:nth-child(1){
    margin-top: 10px;
  }
  .main-content__subtitle:nth-child(3){
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .main__paragraf {
    width: 355px;
    line-height: 23.4px;
    margin-top: -1px;
  }
  .footer__title {
    height: 96px;
    font-size: 116px;
    padding-top: 65px;
    margin-bottom: 80px;
  }
  .footer__decorated-zone::before {
    bottom: 10px;
    left: 11px;
  }
  .footer__decorated-zone::after {
    top: 55px;
    right: 11px;
  }
  .footer {
    min-height: 710px;
    display: flex;
    padding-top: 0;
    margin-top: -45px;
    max-height: 667px;
    width: 375px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .main__section:nth-child(2) .main__content {
    width: 100%;
    max-width: 375px;
  }
  .main__section:nth-child(2) .main__subtitle {
    width: 100%;
    max-width: 355px;
  }
  .main__section:nth-child(2) .main__text {
    width: 100%;
    max-width: 355px;
  }
  .gallery {
    margin-top: -25px;
    padding-top: 0;
    margin-bottom: 0;
  }
}

@media (376px < width <= 769px) {
  .header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    width: 100%;
    max-width: 768px;
    max-height: 1024px;
  }
  .header__title {
    font-size: 120px;
    line-height: 83%;
    letter-spacing: 0;
    margin-top: 98px;
    margin-left: -20px;
    padding-bottom: 0;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
    margin-right: -9px;
  }
  .header__theme-menu {
    grid-column: 3 / 3;
    padding-top: 175px;
    margin-right: 7px;
  }
  .header__text {
    width: 364px;
    margin-bottom: 175px;
  }
  .main {
    width: 100%;
    max-width: 768px;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 60px;
  }
  .main__section:nth-child(1) {
    display: grid;
    grid-template-columns: 236px 472px;
    gap: 20px;
    width: 100%;
    padding: 0;
  }
  .main__title {
    width: 236px;
    margin-left: 0;
  }
  .main__content {
    width: 472px;
    margin-left: 0;
  }
  .main__subtitle {
    width: 472px;
    margin-left: 0;
    margin-right: 0;
  }
  .main__text {
    width: 472px;
    margin-left: 0;
    margin-right: 0;
  }
  .main__section:nth-child(2) {
    display: block;
    margin-bottom: 40px;
  }
  .main__section:nth-child(2) .main__section-content {
    width: 100%;
    max-width: 768px;
    padding: 0;
    box-sizing: border-box;
  }
  .main__content-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .main__content-list-item {
    width: 728px;
    margin: 0 auto;
  }
  .main__section:nth-child(2) .main__subtitle {
    width: 728px;
    margin-left: 0;
    margin-right: 0;
  }
  .main__section:nth-child(2) .main__text {
    width: 728px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }
  .main__section:nth-child(3) {
    display: grid;
    grid-template-columns: 236px 472px;
    gap: 20px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 20px;
  }
  .main__paragraf {
    width: 472px;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 23.4px;
  }
  .main__list {
    margin-left: 0px;
  }
  .main__list-item {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main__list-item:nth-child(4){
    padding-top: -3px;
  }
  .main-content__subtitle {
    width: 472px;
  }
  .gallery {
    width: 768px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 28px;
  }

  .books {
    height: 230px;
    width: 230px;
    padding-left: 0px;
    margin-left: -2px;
  }
  .street {
    height: 318px;
    width: 479px;
    padding-right: 0;
    margin-top: 8px;
    margin-left: -4px;
  }
  .tape {
    height: 568px;
    width: 229px;
    padding-right: 0;
  }
  .ice-cream {
    height: 442px;
    width: 229px;
    padding-right: 0;
    padding-left: 0;
    margin-left: -8px;
  }
  .sunset {
    height: 192px;
    width: 479px;
    padding-right: 0;
  }
  .gallery__content {
    padding-left: 0;
    margin-right: 20px;
    padding-right: 20px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    gap: 10px;
    padding-top: 20px;
  }
  .gallery__title {
    padding: 0;
    width: 728px;
    margin: 0;
  }
  .footer {
    width: 768px;
    height: 1024px;
  }
  .footer__title {
    font-size: 120px;
  }
}
