@media (prefers-color-scheme: light){
  :root {
    --background-color: rgba(255, 241, 247, 1);
    --text-color: rgba(53, 52, 48, 1);
    --shadow--color: rgba(255, 141, 203, 1);
    --accent-color: rgba(53, 52, 48, 1);
    --decor-color: rgba(255, 141, 203, 1);
    --title-color: rgba(255, 194, 230, 1);
    --subtitle-color: rgba(53, 52, 48, 1);
    --content-width: 1440px;
    --padding: 20px;
    --gap: 20px;
    --bg-image: url(../images/cover-image-light.png);
  }
}

@media (prefers-color-scheme: dark){
  :root {
  --background-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --shadow--color: rgba(255, 0, 112, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --decor-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --subtitle-color: rgba(0, 0, 40, 1);
  --content-width: 1440px;
  --padding: 20px;
  --gap: 20px;
  --bg-image: url(../images/cover-image-dark.png);
}
}